body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
#fast {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
.fast-data {
    width: 400px;
    border-radius: 20px;
    padding: 20px;
    background-color: rgba(120,120,120,0.3);
    margin: 5px;
}
.fast-data h2 {
    margin-bottom: 0px;
}
.fast-data h1 {
    margin-top: 1px;
}
#graphs {
    display: flex;
    flex-direction: row;
    flex-wrap:wrap-reverse;
    margin-top: 20px;
    justify-content: center;
}
#live-graph {
    width: 60%;
    min-width: 600px;
}
.graph {
    width: 100%;
    height: 600px;
    transition: all ease-in 1s ;
}
#but-ar {
    width: 40%;
    display: flex;
    justify-content:space-evenly;
    flex-wrap: wrap;
}
.graph-switch {
    width: 15%;
    min-width: 100px;
    margin: 20px;
    height: 50px;
    color: white;
    background-color: rgb(115, 28, 196);
    border: 2px solid gray;
    border-radius: 20px;
    border-style:ridge;
}
.graph-switch:hover {
    filter: drop-shadow(10px 10px 1rem blue)
}
.scan {
    display: flex;
    justify-content: center;
    width: 100%;
}
.scan-but {
    width: 200px;
    height: 80px;
    border-radius: 20px;

}